@page "/"

<PageTitle>Welcome to BookShelf</PageTitle>

<h1 class="text-center page-title">Welcome to BookShelf!</h1>

<p class="page-description">Discover a world of books and explore a variety of features to enhance your reading experience. <strong>BookShelf</strong> is a community-driven platform, where passionate book lovers like you contribute to building a diverse and vibrant library. It's a space where every user adds value, from recommending books to sharing their own literary creations.</p>

<h2 class="section-title">Explore the Features:</h2>

<div class="list-group">
    <div class="list-group-item">
        <h4 class="mb-2">Random Book</h4>
        <p>On the <strong>Random Book</strong> page, you will be presented with a randomly selected book from our database of user-submitted books. It's like a "book of the day" – who knows, it might just be your next read! The books in this section are contributed by fellow book lovers, just like you!</p>
    </div>

    <div class="list-group-item">
        <h4 class="mb-2">Books</h4>
        <p>Visit the <strong>Books</strong> page to view all the books in our collection. You can filter them by categories to easily find the book that fits your interests. Whether you're into fiction, non-fiction, mystery, or fantasy, our database, created and curated by the community of book enthusiasts, has something for everyone.</p>
    </div>

    <div class="list-group-item">
        <h4 class="mb-2">Add a Book</h4>
        <p>If you have a favorite book that isn't listed, or if you've written your own book, head over to the <strong>Add Book</strong> page. Here, you can easily submit your book to the collection, allowing others to discover it as well. Share your literary passions with the community and contribute to our ever-growing collection of books!</p>
    </div>

    <div class="list-group-item">
        <h4 class="mb-2">Virtual Assistant</h4>
        <p>The <strong>Virtual Assistant</strong> is here to help! Simply provide a description of the type of book you're looking for, and the assistant will recommend a book based on your preferences. Whether you're in the mood for an adventure or a thoughtful read, our assistant will guide you to the perfect choice, with recommendations from our community-curated library!</p>
    </div>
</div>

<h3 class="call-to-action">Ready to explore?</h3>
<p class="explore-description">Start navigating through the features and discover something new today. Remember, every book in our collection is a contribution from a passionate reader – just like you! Our platform thrives on community involvement, so feel free to share, recommend, and discover together!</p>
