<link href="app.css" rel="stylesheet" />
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BookShelf</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="home.svg"  class="nav-menu-icon" /> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="index">
                <img src="book.svg"  class="nav-menu-icon" /> Random Book
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <img src="books.svg" alt="Books" class="nav-menu-icon" /> Books
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addbook">
                <img src="book-upload.svg"  class="nav-menu-icon" /> Add Book
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assistant">
                <img src="message-chatbot.svg"  class="nav-menu-icon" /> Virtual Assistant
            </NavLink>
        </div>
    </nav>
</div>
